/* Configs Gerais*/
html,body
{
  margin: 0px;
  padding: 0px;
  background-color: #05263B;
  color: #BBC8DE;
  font-family: 'Press Start 2P', cursive;
  font-variant-caps: all-small-caps;
  scroll-behavior: smooth;
}

a
{
  text-decoration: none;
  color: #BBC8DE;
  outline: none;
}
/* Caminho */
.path
{
  color: #BBC8DE;
  font-size: 10px;
  text-align: left;
}
.path ul
{
  list-style: none;
}
.path li
{
  display: inline-block;
}
/* Menu superior*/
.navigation
{
  line-height: 50px;
  text-align: center;
  background-color: #192E41;
  font-size: 15px;
}

.navigation ul
{
  margin-top: 0px;
  list-style: none;
}

.navigation ul li
{
  position: relative;
  display: inline-block;
}

.dropdown
{
  line-height: normal;
  width: 100%;
  display: none;
  align-items: center;
  position: absolute;
  right: 0px
}

.dropdown li
{
  background-color: #192E41;
  width: 120px;
  height: 25px;
  left: 12px;
  font-size: 12px;
  border: 3px solid;
  border-radius: 100px;
}

.navigation li:hover ul
{
  display: block;
}

.dropdown li:hover
{
  background-color: #5DCAD1;
  color: #FFFFFF;
}
.navigation li.menu
{
  display: none;
}
/* Infos página inicial*/
.info
{
  background-color: #0D659D;
  width: 100vw;
  height: 650px;
}

.info div
{
  display: inline-block;
}

.ground
{
  display: inline-block;

  width: 100vw;
  height: 100px;
  background-size: contain;

}
.divpic
{
  width: 40%;
}

.picture
{
  max-width: 100%;
  width: 400px;
  margin-top: 120px;
  border-radius: 600px;
  animation-name: picanimation;
  animation-fill-mode: backwards;
  animation-delay: 4.5s;
  animation-duration: 3s;
}

.name
{
  font-size: 20px;
  width: 49%;
  vertical-align: top;
  margin-top: 250px;
  text-align: center;
}

.name h2
{
  font-size: 15px;
  margin-top: 10px;
}

.name h1,.name h2
{
  animation-name: nameanimation;
  animation-delay: 4.5s;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

.brick
{
  position: absolute;
  width: 30px;
}

.pipe
{
  position: relative;
  width: 200px;
  left: calc(100vw - 160px);
  bottom: 80px;
  transform: rotate(270deg);
}

.cloud
{
  pointer-events: none;
  width: 80px;
}

.brick:nth-of-type(1)
{
  top: 549px;
  left: 420px;
}

.brick:nth-of-type(2)
{
  top: 549px;
  left: 479px;
}

.brick:nth-of-type(3)
{
  top: 549px;
  left: 300px;
}

.cloud:nth-of-type(n+1)
{
  transform: translate(-800px,-230px);
  animation-name: cloudanimation1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cloud:nth-of-type(2n+1)
{
  transform: translate(-800px,-150px);
  animation-name: cloudanimation2;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.icon
{
  width: 40px;
}

.footer
{
  text-align: right;
  padding: 20px;
}


/* Hobbies */

.hobbies
{
  font-size: 30px;
  text-align: center;
}

.hobbies div
{
  margin-top: 100px;
  animation-name: categoryanimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}

.hobbies a
{
  font-size: 90px;
}

.hobbies a:hover
{
  outline-style: dotted;
  opacity: 0.7;
}

/* Currículo*/
.resume
{
  font-family: 'Domine', serif;
  padding: 20px 100px 120px 120px;
}
.resume h1
{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.resume h3
{
  font-size: 20px;
  line-height: 10px;
  color: #D4F1F4;

}

.resume p
{
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
}

.cv_info ul
{
  padding: 0px;
}

.cv_info li
{
  list-style: none;
  display: inline-block;
  font-size: 20px;
  padding-right: 10px;
}

.cv_info h2,h3,hr
{
  animation-name: ttanimation;
  animation-duration: 1s;
}

.cv_info p
{
  animation-name: textanimation;
  animation-duration: 2s;
}

.profilepic
{
  float: right;
  margin-top: 100px;
  margin-right: 300px;
  border-radius: 10px;
  width: 250px;
  animation-name: ttanimation;
  animation-duration: 1s;
}

/* Músicas */
.contentdiv div
{
  display: inline-block;
}

.spotify
{
  width: 30%;
  padding-top: 50px;
  text-align: center;
}

.songs
{
  display: table;
  animation-name: ttanimation;
  animation-duration: 2s;
  text-align: center;
  vertical-align: top;
  padding-top: 50px;
  width: 69%;
}

.songs_covers
{
  width: 200px;
  height: 200px;
  display: inline-block;
  background-size: contain;

}

.songs_covers:hover
{
  filter: blur(1px);
}

.play
{
  width: 100%;
  height: 500px;
  background-color: yellow;
}

.songs:hover + .play
{
  background-color: blue;

}
/* Exibir os filmes*/
.movies
{
  margin: 30px;
  border-bottom: 4px solid;
  text-align: center;
  display: table;
  animation-name: ttanimation;
  animation-duration: 2s;
}

.movies p
{
  padding: 30px;
}

.movie_name
{
  font-family: 'Domine', serif;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
  transform: translate(0px,-250px);
}

.super
{
  width: 300px;
  height: 400px;
  display: table-cell; /* Igualar a altura dos textos*/

}

.super:hover .movie_name
{
  visibility: visible;
}

.movies_covers
{
  width: 300px;
  height: 400px;
  display: inline-block;
  background-size: cover;
}

.movies_covers:hover
{
  filter: blur(2px);
}

.trailers iframe
{
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

/* Página de games */
.gamediv h1
{
  text-align: center;
  margin-bottom: 50px;
}

.gamediv p
{
  font-family: 'Domine', serif;
  margin-left: 60px;
  font-size: 20px;
  text-align: left;
  animation-name: textanimation;
  animation-duration: .5s;
}

.games
{
  margin-top: 100px;
  margin: 50px;
}

.games > div
{
  display: inline-block;
  overflow: hidden;
  margin-top: 30px;
  position: relative;
  width: 200px;
  height: 250px;
  background-size: 100% 100%;
  border-radius: 20px;
}

.gamecover
{
  width: 100%;
  height: 20%;
  bottom: 0;
  text-align: center;
  position: absolute;
  border-radius: 20px;
  background-color: black;
  opacity: 0;
}

.games div:hover .gamecover
{
  opacity: 0.8;
  animation-name: downtop;
  animation-duration: .6s;
}

.gamecover img
{
  position: absolute;
  margin-left: -15px;
  margin-top: 10px;
  opacity: 0.5;
  width: 30px;
}

.gamecover img:hover
{
  opacity: 1;
}


/* Animações página inicial*/
.coin
{
  width: 20px;
  height: 20px;
  opacity: 0;
}

.block
{
  position: absolute;
  top: 549px;
  left: 440px;
  width: 30px;
  animation-name: blockanimation;
  animation-delay: 4.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.mario
{
  width: 30px;
  position: absolute;
  animation-name: marioanimation;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.navigation a:hover img
{
  opacity: 1;
}
/* Animações*/
@keyframes downtop {
  0%{
    bottom: -20px;
  }
  100%{
    bottom: 0px;
  }
}

@keyframes picanimation {
  0%{
    opacity: 0;
    transform: translate(0px,0px);
  }
  50%{
    opacity: 1;
    transform: translate(0px,-100px);
  }
  100%{
    transform: translate(0px,0px);
  }
}

@keyframes nameanimation {
  0%{
    opacity: 0;
    transform: translate(0px,0px);
  }
  50%{
    opacity: 1;
    transform: translate(0px,-75px);
  }
  100%{
    transform: translate(0px,0px);
  }
}


@keyframes blockanimation {
  0%{
    transform: translate(10px,0px);
  }
  50%{
    transform: translate(10px,-30px);
  }
  100%{
    transform: translate(10px,0px);
  }
}

@keyframes marioanimation {
  0%{
    top: 700px;
    left: -30px;
  }
  50%{
    top: 700px;
    left: 445px;
  }
  55%{
    top: 580px;
    left: 445px;
  }
  60%{
    top: 700px;
    left: 445px;
  }
  75%{
    top: 700px;
    left: 900px;
  }
  100%{
    top: 700px;
    left: 95%;
    visibility: hidden;
  }
}

@keyframes ttanimation {
  0%{
    opacity: 0;
    transform: translate(-80px,0px);
  }
  100%{
    opacity: 1;
    transform: translate(0px,0px);
  }
}

@keyframes textanimation {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes categoryanimation {
  0%{
    transform: translate(0px, 0px);
  }
  50%{
    transform: translate(0px,-5px);
  }
  100%{
    transform: translate(0px, 0px);
  }
}

@keyframes cloudanimation1 {
  100%{
    transform: translate(70vw,-230px);
  }
}

@keyframes cloudanimation2 {
  100%{
    transform: translate(65vw,-150px);
  }
}

@media (max-width: 700px) {
.navigation ul li
{
  display: none;
}

.navigation ul
{
  text-align: right;
  margin-right: 30px;
}
.navigation li.menu
{
  font-size: 30px;
  display: inline-block;
}

.navigation .menu:hover
{
  color: #FFFFFF;
  cursor: pointer;
}

.profilepic
{
  margin-top:0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  animation-name: cvanimation;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes cvanimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.menujs
{
  height: auto;
}

.menujs ul
{
  height: auto;
  text-align: center;

}

.menujs ul li
{
  padding-bottom: 2px;
  text-align: center;
  width: auto;
  display: block;
}

.menujs ul li img
{
  display: none;
}

.menujs a:hover
{
  color: #FFFFFF;
}

.menujs .menu:hover
{

  color: #FFFFFF;
}

.menujs li:hover ul
{
  display: none;
}

.spotify
{
  width: 100%;
}

.songs
{
  width: 100%;
}

}
